<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href={{stylesheet}}>
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
</head>

<body>
    <h1 id="title">Login Administración Monitor de Comedores</h1>
    <div class="caja">
        <div class="imagen">
            <img class="logo" src="https://www.difatizapan.gob.mx/images/dae21140-87ad-4b93-a6a1-50a300632bbe1.png"
                alt="Imagen de login">
        </div>
        <form class="inputs" action="#" method="post">
            <label for="usuario">Usuario: </label>
            <input type="text" name="usuario" id="IDusuario" class="input">
            <br>
            <label for="contraseña">Contraseña: </label>
            <input type="password" name="contraseña" id="IDcontraseña" class="input">
            <button id="IDboton" type="submit">Ingresar</button>
        </form>
    </div>
    <p>Hecho por Tec CEM</p>
</body>

</html>