<!DOCTYPE html>
<html lang="es">

<head>
    <title>Monitor de datos DIF ATIZAPÁN</title>
    <link rel="stylesheet" href={{stylesheet}}>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow"> -->
</head>

<body>
    <navbar class="nav">
        <p><img src="https://www.difatizapan.gob.mx/images/dae21140-87ad-4b93-a6a1-50a300632bbe1.png" alt="logo"
                width="300" height="100" class="columna"></p>
        <h1 class="title">Dashboard de administrador</h1>
        <p><img src="https://www.difatizapan.gob.mx/images/escudo-atz.png" alt="logo2" width="300" height="150" class="columna"></p>
    </navbar>

    <div>
        <h1 class="subtitle">Información General</h1>
        <div class="gfx-container">
            <div class="grafico">
                <h2 class="gr-title">Selector de Comedores</h2>
                <canvas id="myChart10"></canvas>
            </div>
            <div class="grafico">
                <h2 class="gr-title">Comedores con más Ventas</h2>
                <canvas id="myChart3"></canvas>
            </div>
            <div class="grafico">
                <h2 class="gr-title">Comedores con más Cierres</h2>
                <canvas id="myChart8"></canvas>
            </div>
            <div class="grafico">
                <h2 class="gr-title">Edades de los Clientes</h2>
                <canvas id="myChart5"></canvas>
            </div>
            <div class="grafico">
                <h2 class="gr-title">Cantidad de personas dependientes</h2>
                <canvas id="myChart7"></canvas>
            </div>
            <div class="grafico">
                <h2 class="gr-title">Sexo de los Clientes</h2>
                <canvas id="myChart4"></canvas>
            </div>
        </div>
        <p class="descriptions">Haz click sobre alguna sucursal para mostrar los datos en sección <i>"Información por
                comedor"</i></p>
    </div>

    <div>
        <h1 class="subtitle">Información por comedor</h1>
        <h2 id="selectedComedor" style="margin-left: 1rem;"><i>Comedor seleccionado: por favor selecciona un comedor</i></h2>
        <p style="margin-left: 1rem;">La información siguiente es mostrada con los úlitmos 30 días de información.</p>
        <div class="gfx-container">
            <div class="grafico">
                <h2 class="gr-title">Ventas por día</h2>
                <canvas id="myChart"></canvas>
            </div>
            <div class="grafico">
                <h2 class="gr-title">Cantidad de Donaciones</h2>
                <canvas id="myChart6"></canvas>
            </div>
            <div class="grafico">
                <h2 class="gr-title">Cantidad de Clientes por Hora</h2>
                <canvas id="myChart2"></canvas>
            </div>
            <div class="grafico">
                <h2 class="gr-title">Cumplimiento de metas por día</h2>
                <canvas id="myChart9"></canvas>
            </div>
            <div class="grafico">
                <h2 class="gr-title">Promedio de evaluaciones</h2>
                <canvas id="myChart11"></canvas>
            </div>
        </div>
        <br>

        <div class="dateSelection">
            <select id="month" class="dropdown">
                <option value="">Selecciona el mes</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12" selected>Diciembre</option>
            </select>
        
            <select id="year" class="dropdown">
                <option value="">Selecciona el año</option>
                <option value="2020" selected>2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
            </select>
        </div>

        <button class="generate" id="btnReport">
            Generar CSV
        </button>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
        <script src={{graficasjs}}></script>
    </div>

    <br>

    <hr style="margin: 0;" >
    <div class="container">
        <p>
            <b>Aviso importante:</b>

            Prohibido filtrar datos.

            Los datos que se encuentran en este dashboard son propiedad del DIF ATIZAPÁN y están protegidos por la ley.
            El leakeo
            de estos datos es un delito que puede conllevar penas de prisión.

            Todas las personas que tengan acceso a estos datos están obligadas a mantenerlos en secreto y a no
            compartirlos con terceros.

            Si usted tiene alguna duda o pregunta sobre este aviso, no dude en ponerse en contacto con nosotros por <a
                href="https://www.difatizapan.gob.mx" target="_blank">nuestra página oficial</a>.

            Gracias por su colaboración.

        </p>
    </div>
</body>

</html>