body {
    margin: 0;
    font-family: Barlow, sans-serif;
    color: #000;
}

.columna {
    margin: 10px;
}

.title {
    margin: 10px;
    align-items: center;
}

.nav {
    background-color: #9F2141;
    overflow: hidden;
    display: flex; 
    justify-content: space-between;
    color: #FFF;
}

.gfx-container {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

.nav p {
    text-align: center;
    font-size: 2rem;
}

.grafico {
    height: auto;
    width: auto;
}