body {
    margin: 0;
    font-family: Barlow, sans-serif;
    color: #FFF;
}

.nav {
    background-color: #9F2141;
    overflow: hidden;
    display: flex; 
    justify-content: space-between;
}

.container {
    margin-top: 28rem;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

.nav p {
    text-align: center;
    font-size: 2rem;
}

