body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;
}

nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

.columna {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
}